@model IEnumerable<ProjectC_v2.Models.GamePlatform>

@{
    ViewData["Title"] = "Index";
}
@Html.Partial("_AdminPartial")
<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlatformName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlatformName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PlatformId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PlatformId">Details</a> |
                    @*<a asp-action="Delete" asp-route-id="@item.PlatformId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
